* {
  margin: 0;
  padding: 0;
}

nav {
  padding: 30px;
  width: 100%;
  background-color: #000000;
}

.banner {
  padding: 30px;
  background-color: #669eec;
  text-align: center;
  color: white;
  line-height: 25px;
}

header {
  display: flex;
}

nav a {
  color: #ffffff;
  padding: 40px;
}

img {
  display: block;
  margin: 0 auto;
}

.titulo {
  color: #0a51b4;
  padding: 5px 10px;
  line-height: 35px;
}

p {
  padding: 10px;
}

#titulo-imagen {
  margin: 30px 20px;
  color: #669eec;
  font-size: 1.6rem;
}

#parrafo {
  margin: 20px 10px;
}

footer {
  padding: 20px 0;
  background-color: #000000;
  color: white;
  text-align: center;
  bottom: 0px;
}

.rectangulo {
  border: 1px solid green;
}

.contenedorFlexible {
  border: 2px solid red;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contenedorPosition {
  border: 1px solid red;
  width: 150px;
  height: 150px;
  color: white;
}

.contenedorPosition div {
  border: 1px solid red;
  width: 150px;
  height: 150px;
  color: white;
}

#boxRojo {
  background-color: red;
}

#boxAmarillo {
  background-color: yellow;
}

#boxAzul {
  background-color: blue;
}

@media all and (max-width: 767px) {
  #centrarImagen img {
    width: 100%;
  }

  nav a {
    padding: 13px;
  }

  .contenedorFlexible {
    flex-wrap: wrap;
  }

  .contenedorFlexible aside {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  #centrarImagen img {
    width: 100%;
  }

  .contenedorFlexible aside {
    width: 100%;
    background-color: red;
    justify-content: center;
  }
}
